<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>PhD Application Form</title>
    <link th:href="@{/css/phd.css}" rel="stylesheet" type="text/css"/>
</head>
<body>

<div class="container">
    <div class="inner_container">
        <div class="img_container" th:style="'background:url(/image/line-resized.jpg)'"></div>
        <div class="box">

            <!--        <nav>-->
            <!--            <ul>-->
            <!--                <li><a>Privacy Notice </a></li>-->
            <!--                <li><a>Application Guide</a></li>-->
            <!--                &lt;!&ndash;                <li><a>WORK</a></li>&ndash;&gt;-->
            <!--                &lt;!&ndash;                <li><a>CONTACT</a></li>&ndash;&gt;-->
            <!--            </ul>-->
            <!--        </nav>-->
            <div id="mySidebar" class="sidebar">
                <a href="javascript:void(0)" class="closebtn" onclick="closeNav() ">×</a>
                <a href="#">Privacy Notice</a>
                <a href="#">Application Guide</a>

            </div>

            <div id="main">
                <button class="openbtn" onclick="openNav()">☰</button>
            </div>

            <script>
                function openNav() {
                    document.getElementById("mySidebar").style.width = "200px";
                    document.getElementById("main").style.marginLeft = "200px";
                }

                function closeNav() {
                    document.getElementById("mySidebar").style.width = "0";
                    document.getElementById("main").style.marginLeft = "0";
                }
            </script>

            <div class="title_container">

                <img src="/image/cybersecuoi1.png" width="250" height="160"/>
                <label class="title">Postgraduate Studies-Academic
                    <p>Positions that lead to a MsC/PhD degree</p></label>
            </div>
            <div class="error_container" th:if="${unknownError}">
                <div class="error">Something went wrong, please try again.</div>
            </div>
            <div class="error_container" th:if="${dateNotParsable}">
                <div class="error">The date entered was invalid.</div>
            </div>

            <br/>

            <div class="form_container">
                <form th:action="@{/phdapplication}" method="post"
                      th:object="${applicationForm1}">

                    <div class="label_container">
                        <label class="label" for="applicationcategory">Application Category:*</label>
                    </div>
                    <select name="applicationcategory" id="applicationcategory" class="check-menu-item"
                            autofocus="autofocus" th:field="*{applicationcategory}" value="${applicationcategory}">
                        <option value="Postgraduate MSc">Postgraduate MSc</option>
                        <option value="Postgraduate PHD">Postgraduate PHD</option>
                    </select>


                    <br/>
                    <div class="error_container">
          <span class="error" th:if="${#fields.hasErrors('applicationcategory')}"
                th:errors="*{applicationcategory}"></span>
                    </div>

                    <div class="label_container">
                        <label class="label" for="applicationentry">Anticipated Entry Term:*</label>
                    </div>
                    <select name="applicationentry" id="applicationentry" class="check-menu-item"
                            autofocus="autofocus"
                            th:field="*{applicationentry}" value="${applicationentry}">
                        <option value="Summer 2021-2022">Summer 2021-2022</option>
                    </select>

                    <br/>
                    <div class="error_container">
          <span class="error" th:if="${#fields.hasErrors('applicationentry')}"
                th:errors="*{applicationentry}"></span>
                    </div>

                    <div class="label_container">
                        <label class="label" for="academicprogramme">Academic Programme:*</label>
                    </div>
                    <select name="academicprogramme" type="text" id="academicprogramme" class="check-menu-item"
                            autofocus="autofocus"
                            th:field="*{academicprogramme}" value="${academicprogramme}">
                        <option value="Computer Science">Computer Science</option>
                        <option value="Educational Development Research (PhD)">Educational Development Research (PhD)
                        </option>
                    </select>

                    <br/>
                    <div class="error_container">
          <span class="error" th:if="${#fields.hasErrors('academicprogramme')}"
                th:errors="*{academicprogramme}"></span>
                    </div>


                    <div class="label_container">
                        <label class="label" for="modestudy">Mode of Study:*</label>
                    </div>
                    <select name="modestudy" id="modestudy" class="check-menu-item"
                            autofocus="autofocus"
                            th:field="*{modestudy}" value="${modestudy}">
                        <option value="Full-time">Full-time</option>
                        <option value="Part-time">Part-time</option>
                    </select>

                    <br/>
                    <div class="error_container">
          <span class="error" th:if="${#fields.hasErrors('modestudy')}"
                th:errors="*{modestudy}"></span>
                    </div>
                    <div class="label_container">
                        <label class="label" for="proposedtopic">Proposed research topic:*</label>
                    </div>
                    <input type="text" id="proposedtopic" name="proposedtopic" class="form-control"
                           autofocus="autofocus"
                           th:field="*{proposedtopic}" value="${proposedtopic}"/><br/>
                    <div class="error_container">
          <span class="error" th:if="${#fields.hasErrors('proposedtopic')}"
                th:errors="*{proposedtopic}"></span>
                    </div>

                    <div class="label_container">
                        <label class="label" for="proposedsupervisor">Proposed research supervisor:*</label>
                    </div>
                    <input type="text" id="proposedsupervisor" name="proposedsupervisor" class="form-control"
                           autofocus="autofocus"
                           th:field="*{proposedsupervisor}" value="${proposedsupervisor}"/><br/>
                    <div class="error_container">
          <span class="error" th:if="${#fields.hasErrors('proposedsupervisor')}"
                th:errors="*{proposedsupervisor}"></span>
                    </div>

                    <div class="label_container">
                        <label class="label" for="proposedgroup">Proposed research group:*</label>
                    </div>

                    <input type="text" id="proposedgroup" name="proposedgroup" class="form-control"
                           autofocus="autofocus"
                           th:field="*{proposedgroup}" value="${proposedgroup}"/><br/>
                    <div class="error_container">
          <span class="error" th:if="${#fields.hasErrors('proposedgroup')}"
                th:errors="*{proposedgroup}"></span>
                    </div>

                    <br/>
                    <div class="error_container">
          <span class="error" th:if="${#fields.hasErrors('gender')}"
                th:errors="*{gender}"></span>
                    </div>

                    <h3><span style="font-size: 15px; color: #74070f; font-family: 'Times New Roman'; ">Please upload your CV*</span>
                    </h3>
                    <div class="button_container">
                        <!--                <label for="fileupload">Upload CV*</label>-->
                        <!--                <input id="fileupload" type="file" name="fileupload" />-->
                        <input id="fileupload" type="file" name="fileupload"/>

                        <button id="upload-button" onclick="uploadFile(); return false"> Upload</button>
                        <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

                        <script>

                            async function uploadFile() {
                                let formData = new FormData();

                                // formData.append("file", fileupload.files[1]);
                                let response = await fetch('Anonymous\\Documents', {
                                    method: "POST",
                                    body: formData
                                });


                                if (response.status === 404) {
                                    swal({
                                        title: "Privacy notice!",
                                        text: "Your Cv cannot contain your personal information like Name,birthdate, age etc.!",
                                        icon: "warning",
                                        button: "Ok",
                                    });
                                }
                            }
                        </script>

                        <h1>Academic Experience</h1>
                        <div class="label_container">
                            <h5>Higher Education Institution</h5>
                            <label class="label" for="departmentname">Department Name (full or partial):*</label>
                        </div>
                        <select name="departmentname" type="text" id="departmentname" class="check-menu-item"
                                autofocus="autofocus"
                                th:field="*{departmentname}" value="${departmentname}">
                            <option value="Department of Informatics and Telecommun

            ications">Department of Informatics and Telecommunications
                            </option>
                        </select>
                        <br/>
                        <div class="error_container">
          <span class="error" th:if="${#fields.hasErrors('departmentname')}"
                th:errors="*{departmentname}"></span>
                        </div>

                        <div class="label_container">
                            <label class="label" for="universityname">University Name (full or partial):*</label>
                        </div>
                        <select name="universityname" type="text" id="universityname" class="check-menu-item"
                                autofocus="autofocus"
                                th:field="*{universityname}" value="${universityname}">
                            <option value="University of Ioannina">University of Ioannina</option>
                        </select>
                        <br/>
                        <div class="error_container">
          <span class="error" th:if="${#fields.hasErrors('universityname')}"
                th:errors="*{universityname}"></span>
                        </div>
                        <div class="label_container">
                            <label class="label" for="organisationcountry">Country:</label>
                        </div>
                        <input type="text" id="organisationcountry" name="organisationcountry" class="form-control"
                               autofocus="autofocus"
                               th:field="*{organizationcountry}" value="${organizationcountry}"/><br/>
                        <div class="error_container">
          <span class="error" th:if="${#fields.hasErrors('organizationcountry')}"
                th:errors="*{organizationcountry}"></span>
                        </div>
                        <div class="label_container">
                            <label class="label" for="additionalinstitutions">Additional Institutions:*</label>
                        </div>
                        <input type="text" id="additionalinstitutions" name="additionalinstitutions"
                               class="form-control"
                               autofocus="autofocus"
                               th:field="*{additionalinstitutions}" value="${additionalinstitutions}"/><br/>
                        <div class="error_container">
          <span class="error" th:if="${#fields.hasErrors('additionalinstitutions')}"
                th:errors="*{additionalinstitutions}"></span>
                            <h3><span style="font-size: 13px; color: blue; font-family: 'Times New Roman';">*If you posses an academic title from University of Ioannina, you can use your privacy Attribute based Credential.</span>
                            </h3>
                        </div>


                    </div>
                    <h3><span style="font-size: 15px; color: #cd101c; font-family: 'Times New Roman',serif; ">Please provide a proof of your MSc degree here*</span>
                    </h3>

                    <div class="button_container1" align="center">
                        <!--              <a th:href="@{/getpolicy}" class="button">Submit Application</a>-->
                        <input class="button4" type="submit" value="Upload your Credential"/>
                    </div>

                    <div class="button_container1" align="center">

                        <a th:href="@{'http://localhost:10000/login'}" class="button1">Abort your Application</a>
                    </div>


                </form>


            </div>
        </div>
    </div>
</div>
</body>
</html>
