<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <title>Verification Page</title>
    <link th:href="@{/css/login1.css}" rel="stylesheet" type="text/css"/>
    <style>
        h3 {
            text-align: center;
        }
    </style>
</head>
<body>
<div class="container">
    <div class="inner_container">
        <div class="img_container" th:style="'background:url(/image/line-resized.jpg)'"></div>
        <div class="box">
            <div class="title_container">
                <h4>Verification</h4>
                <img src="/image/cybersecuoi.png" width="250" height="160"/>

                <img src="/image/tick.png" width="100" height="100"/>

                <!-- Display PHP application form data -->
                <h4>You have successfully submitted your PhD/MSc research application</h4>
                <p><span th:text="${phpapplication != null ? phpapplication.applicationentry : ''}"
                         style="color: white;">></span></p>

                <p><span th:text="${phpapplication != null ? phpapplication.academicprogramme : ''}"
                         style="color: white;">></span></p>
                <!-- Add more fields for other PHP application form data as needed -->

                <!-- Display New application form data -->
                <p><span th:text="${newApplicationForm != null ? newApplicationForm.applicationentry : ''}"
                         style="color: white;">></span></p>

                <p><span th:text="${newApplicationForm != null ? newApplicationForm.academicprogramme : ''}"
                         style="color: white;">></span></p>

                <!-- Add more fields for other New application form data as needed -->

                <div class="button_container">
                    <input class="button" onclick="self.close()" value="Close Window"/>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
